.cart-no {
    position: absolute;
    min-height: 5px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: gray;
    color: whitesmoke;
    text-align: center;
    top: 15px;
    right: 10px;
}